---
layout: base
script:
  - /assets/js/blog.js
  - /assets/js/elasticlunr.min.js
---

{% assign tags = '' | split: ',' %}
{% for posts in site.tags %}
	{% assign tag = posts[0] %}
	{% assign count = 0 %}
	{% for post in posts[1] %}
		{% assign count = count | plus: 1 %}
	{% endfor %}
	{% if count > 0 %}
		{% assign tag = tag | split: ',' %}
		{% assign tags = tags | concat: tag %}
	{% endif %}
{% endfor %}
{%- assign tags = tags | sort_natural -%}


<section class="post-list">
{% for item in site.posts %}
<article itemscope itemtype="http://schema.org/BlogPosting" role="article" class="post-item post" data-tags="{% for tag in item.tags %}{{ tag }}{% unless forloop.last %},{% endunless %}{% endfor %}" data-url="{{ item.url }}">
	<header class="post-item-header"><h2 itemprop="name" class="post-item-title">
		<a href="{{ item.url }}" itemprop="url" data-pjax title="{{ item.title | escape }}">{{ item.title | escape }}</a>
	</h2></header>
	<section itemprop="description" class="post-item-excerpt"><p>{{ item.excerpt | strip_html }}</p></section>
	<footer class="post-item-footer">
		<ul class="post-item-meta-list">
			<li class="post-item-meta-item">
				<time datetime="{{ item.date | date_to_xmlschema }}" itemprop="datePublished">{{ item.date | date: "%b %-d, %Y" }}</time>
			</li>
			<li class="post-item-meta-item">
				{% for tag in item.tags %}<span class="badge badge-info ml-1">{{ tag }}</span>{% endfor %}
			</li>
			<li class="post-item-meta-item">
				<a href="{{ item.url }}#disqus_thread" data-pjax data-disqus-identifier="{{ item.disqus_id }}">Комментарии</a>
			</li>
		</ul>
	</footer>
</article>{% endfor %}
</section>
